section {
    margin-top: 100px;
}

.orange {
    color: orange;
}

h1 {
    font-size: 60px;
}

.top {
    display: flex;
}

.top-part {
    width: 50%;
    padding-left: 10%;
}

.top-part img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: antiquewhite;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 30px;
}

.middle {
    background-image: url(images/7.png);
    display: flex;
}

.mid-part {
    width: 50%;
}

.mid-part img {
    width: 60%;
}

.mid-part h2 {
    padding-top: 20%;
}

.bottom-intro {
    text-align: center;
}

.bottom {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.bottom-part {

    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: 10px 10px 50px gray;


}

#left-bottom img {
    width: 60%;
}

#left-bottom {
    padding-left: 20%;
    padding-top: 5%;


}

#right-bottom img {
    width: 70%;

}

#right-bottom {
    padding-right: 10%;
    padding-left: 20%;
    padding-top: 5%;
}

h2 {
    font-size: 40px;
}

.finishing {
    margin-left: 11%;
    margin-right: 11%;


}

.finishing-part {
    display: flex;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;

}

.finishing-part div {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.last {

    text-align: center;
    background: #0B0D17;
    color: aliceblue;
    background-size: cover;

}

.last div {
    padding-top: 2%;
    padding-bottom: 6%;
}

body {
    margin: 0%;
    font-family: 'Chivo Mono', monospace;
    font-family: 'EB Garamond', serif;
}